.sobre-container {
    display: flex;
    justify-content: center;
    height: 520px;
    background: #fcfbfb;
}

.title-sobrenos span {
    opacity: 0.1;
    font-weight: 600;
    font-size: 100px;
    color: #022f74
}

.title-sobrenos h2 {
    margin-top: 80px;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    line-height: 3px;
    color: #252A37;
}

.title-sobrenos p {
    margin-top: 55px;
    text-align: center;
}

@media screen and (max-width: 630px) {

    .sobre-container {
        height: 815px;
    }

    .title-sobrenos {
      padding: 0 15px;
      margin-top: 25px;
    }
  
    .title-sobrenos span {
      font-size: 60px;
    }
  
    .title-sobrenos h2 {
      margin-top: 40px;
      font-size: 26px;
    }
  
    .title-sobrenos p {
      margin-top: 35px;
      font-size: 15px;
    }
  }
  